#PANDAS LIBRARY TASK#

 1. Buatlah sebuah DataFrame (20 baris data) dengan nama "data" yang terdiri dari kolom "Nama", "Usia", dan "Kota".

In [3]:
data = {
    "Nama": ["Andi", "Budi", "Cici", "Dani", "Eka", "Fani", "Gita", "Hadi", "Ika", "Joni",
             "Kiki", "Lina", "Maya", "Nina", "Oka", "Putu", "Qori", "Rina", "Sari", "Tomi"],
    "Usia": [23, 30, 27, 22, 31, 29, 25, 32, 28, 24,
             33, 21, 26, 30, 29, 34, 22, 27, 25, 28],
    "Kota": ["Jakarta", "Bandung", "Surabaya", "Medan", "Yogyakarta", "Bali", "Semarang", "Makassar", "Palembang", "Malang",
             "Denpasar", "Solo", "Banjarmasin", "Pontianak", "Manado", "Mataram", "Kupang", "Ambon", "Papua", "Batam"]
}

2. Tuliskan kode yang menunjukkan pembuatan DataFrame menggunakan Pandas dengan data yang disediakan.

In [4]:
#Import Pandas
import pandas as pd


# Buat DataFrame dari data
df = pd.DataFrame(data)

# Menampilkan DataFrame
print(df)

    Nama  Usia         Kota
0   Andi    23      Jakarta
1   Budi    30      Bandung
2   Cici    27     Surabaya
3   Dani    22        Medan
4    Eka    31   Yogyakarta
5   Fani    29         Bali
6   Gita    25     Semarang
7   Hadi    32     Makassar
8    Ika    28    Palembang
9   Joni    24       Malang
10  Kiki    33     Denpasar
11  Lina    21         Solo
12  Maya    26  Banjarmasin
13  Nina    30    Pontianak
14   Oka    29       Manado
15  Putu    34      Mataram
16  Qori    22       Kupang
17  Rina    27        Ambon
18  Sari    25        Papua
19  Tomi    28        Batam

3. Gunakan metode Pandas yang tepat untuk menampilkan lima baris pertama dari DataFrame "data".

In [9]:
print(df.head())

   Nama  Usia        Kota
0  Andi    23     Jakarta
1  Budi    30     Bandung
2  Cici    27    Surabaya
3  Dani    22       Medan
4   Eka    31  Yogyakarta

 4. Tambahkan kolom baru “Gender”, “Alamat”, dan “Pekerjaan” ke DataFrame "data" dan menampilkan DataFrame yang telah diubah.

In [10]:
#Menambahkan kolom baru
df["Gender"] = ["Pria", "Pria", "Wanita", "Pria", "Wanita", "Wanita", "Wanita", "Pria", "Wanita", "Pria",
                "Wanita", "Wanita", "Wanita", "Wanita", "Pria", "Pria", "Wanita", "Wanita", "Wanita", "Pria"]
df["Alamat"] = ["Jl. A", "Jl. B", "Jl. C", "Jl. D", "Jl. E", "Jl. F", "Jl. G", "Jl. H", "Jl. I", "Jl. J",
                "Jl. K", "Jl. L", "Jl. M", "Jl. N", "Jl. O", "Jl. P", "Jl. Q", "Jl. R", "Jl. S", "Jl. T"]
df["Pekerjaan"] = ["Engineer", "Doctor", "Teacher", "Artist", "Nurse", "Designer", "Chef", "Manager", "Sales", "Driver",
                   "Accountant", "Scientist", "Technician", "Consultant", "Pilot", "Programmer", "Journalist", "Photographer", "Student", "Entrepreneur"]

#Print data yang baru
print(df)

    Nama  Usia         Kota  Gender Alamat     Pekerjaan
0   Andi    23      Jakarta    Pria  Jl. A      Engineer
1   Budi    30      Bandung    Pria  Jl. B        Doctor
2   Cici    27     Surabaya  Wanita  Jl. C       Teacher
3   Dani    22        Medan    Pria  Jl. D        Artist
4    Eka    31   Yogyakarta  Wanita  Jl. E         Nurse
5   Fani    29         Bali  Wanita  Jl. F      Designer
6   Gita    25     Semarang  Wanita  Jl. G          Chef
7   Hadi    32     Makassar    Pria  Jl. H       Manager
8    Ika    28    Palembang  Wanita  Jl. I         Sales
9   Joni    24       Malang    Pria  Jl. J        Driver
10  Kiki    33     Denpasar  Wanita  Jl. K    Accountant
11  Lina    21         Solo  Wanita  Jl. L     Scientist
12  Maya    26  Banjarmasin  Wanita  Jl. M    Technician
13  Nina    30    Pontianak  Wanita  Jl. N    Consultant
14   Oka    29       Manado    Pria  Jl. O         Pilot
15  Putu    34      Mataram    Pria  Jl. P    Programmer
16  Qori    22       Kupang  Wanita  Jl. Q    Journalist
17  Rina    27        Ambon  Wanita  Jl. R  Photographer
18  Sari    25        Papua  Wanita  Jl. S       Student
19  Tomi    28        Batam    Pria  Jl. T  Entrepreneur

 5. Gunakan Pandas untuk menyaring data dari DataFrame "data" di mana nilai Usia lebih dari 25, dan tampilkan hasilnya.

In [11]:
#Filtered data usia >25
filtered_df = df[df["Usia"] > 25]

print(filtered_df)

    Nama  Usia         Kota  Gender Alamat     Pekerjaan
1   Budi    30      Bandung    Pria  Jl. B        Doctor
2   Cici    27     Surabaya  Wanita  Jl. C       Teacher
4    Eka    31   Yogyakarta  Wanita  Jl. E         Nurse
5   Fani    29         Bali  Wanita  Jl. F      Designer
7   Hadi    32     Makassar    Pria  Jl. H       Manager
8    Ika    28    Palembang  Wanita  Jl. I         Sales
10  Kiki    33     Denpasar  Wanita  Jl. K    Accountant
12  Maya    26  Banjarmasin  Wanita  Jl. M    Technician
13  Nina    30    Pontianak  Wanita  Jl. N    Consultant
14   Oka    29       Manado    Pria  Jl. O         Pilot
15  Putu    34      Mataram    Pria  Jl. P    Programmer
17  Rina    27        Ambon  Wanita  Jl. R  Photographer
19  Tomi    28        Batam    Pria  Jl. T  Entrepreneur

6. Gunakan Pandas untuk menyaring data dari DataFrame "data" di mana nilai Usia lebih dari 30, dan Gender “Perempuan” serta tampilkan hasilnya.

In [12]:
#Filtered data umur >30 dan gender perempuan
filter_conditional = df[(df["Usia"] > 30) & (df["Gender"] == "Wanita")]

print(filter_conditional)

    Nama  Usia        Kota  Gender Alamat   Pekerjaan
4    Eka    31  Yogyakarta  Wanita  Jl. E       Nurse
10  Kiki    33    Denpasar  Wanita  Jl. K  Accountant

7. Tuliskan kode yang menggunakan .loc[] dan .iloc[] untuk mengakses baris ke-3 dan ke-4 beserta kolom yang diminta, lalu tampilkan hasilnya.

In [13]:
#Mengakses baris 3 dan 4 dengan .iloc[] (indeks 2 dan 3)
iloc_result = df.iloc[2:4]

#Mengakses baris 3 dan 4 dengan .loc[] (indeks 2 dan 3 jika menggunakan indeks default)
#.loc[] digunakan pada label indeks
loc_result = df.loc[2:3]

print(iloc_result)
print(loc_result)

   Nama  Usia      Kota  Gender Alamat Pekerjaan
2  Cici    27  Surabaya  Wanita  Jl. C   Teacher
3  Dani    22     Medan    Pria  Jl. D    Artist
   Nama  Usia      Kota  Gender Alamat Pekerjaan
2  Cici    27  Surabaya  Wanita  Jl. C   Teacher
3  Dani    22     Medan    Pria  Jl. D    Artist

8. Buat program untuk menghitung rata-rata usia dari DataFrame "data".

In [14]:
#Menghitung usia rata-rata dari data
average_age = df["Usia"].mean()
print(average_age)

27.3

9. Gunakan Pandas untuk menyimpan DataFrame "data" ke dalam format file CSV.

In [16]:
df.to_csv('pandaslibrary.csv', index=False)